{% load static %}
<div class="col-md-3 sidebar py-3">
    <a href="{% url 'user_add_request' %}">
        <button class="btn btn-custom-orange w-100 mb-3">Añadir Solicitud</button>
    </a>
    <h5>Historial de Solicitudes:</h5>
    <div class="list-group">
        {% for repair in repair_history %}
            <a href="{% url 'user_request_detail' repair.id %}" class="list-group-item list-group-item-action">
                <h6>{{ repair.title }}</h6>
                <small class="text-muted">Descripción: {{ repair.comment }}</small>
                <br>
                <small class="text-muted">Estado: {{ repair.id_status.name }}</small>
                <br>
                <small class="text-muted">Tipo: {{ repair.id_specialty.name }}</small>
            </a>
        {% empty %}
            <p class="text-muted">No hay solicitudes en el historial.</p>
        {% endfor %}
    </div>
</div>
