{% load static %}

<!-- Footer -->
<footer class="bg-custom-blue text-white py-4 mt-auto">
	<div class="container">
		<div class="row">
			<div class="col-md-4 mb-3 mb-md-0">
				<h5>Repara Ya</h5>
				<p class="small">Aplicación de servicios de reparación de celulares y electrónica.</p>
			</div>
			<div class="col-md-4 mb-3 mb-md-0">
				<h5>Enlaces</h5>
				<ul class="list-unstyled small">
					{% if not user.is_authenticated %}
					<li><a href="#" class="text-white">Servicios</a></li>
					<li><a href="#" class="text-white">Por qué nosotros</a></li>
					<li><a href="#" class="text-white">Garantía</a></li>
                    {% elif user_type == 'user' %}
					<li><a href="#" class="text-white">Mis Solicitudes</a></li>
					<li><a href="#" class="text-white">Técnicos</a></li>
					<li><a href="#" class="text-white">Soporte</a></li>
					{% elif user_type == 'technician' %}
					<li><a href="#" class="text-white">Solicitudes</a></li>
					<li><a href="#" class="text-white">Mis Solicitudes</a></li>
					<li><a href="#" class="text-white">Soporte</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="col-md-4">
				<h5>Síguenos</h5>
				<ul class="list-unstyled small">
					<li><a href="#" class="text-white">Facebook</a></li>
					<li><a href="#" class="text-white">X</a></li>
					<li><a href="#" class="text-white">Instagram</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
