.bg-custom-blue {
    background-color: #003366;
}

.btn-custom-orange {
    background-color: #FF6600;
    border-color: #FF6600;
    color: white;
}

.btn-custom-orange:hover {
    background-color: #FF8533;
    border-color: #FF8533;
}

.btn-user-type {
    background-color: #E9ECEF;
    color: #495057;
    border-color: #ced4da;
}

.btn-user-type:hover, .btn-user-type:focus {
    background-color: #E9ECEF;
    color: #495057;
}

.btn-user-type.active {
    background-color: #FF6600;
    color: white;
}

#tecnico:checked+.btn-user-type {
    background-color: #FF6600;
    color: white;
}

#usuario:checked+.btn-user-type {
    background-color: #FF6600;
    color: white;
}

.form-control:focus {
    border-color: #FF6600;
}

.device-option {
    cursor: pointer;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease;
}
.device-option:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.device-option.selected {
    background-color: #FF6600;
    color: white;
    border-color: #FF6600;
}
.device-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
