{% extends "base.html" %}
{% load static %}

{% block title %}
Solicitud Nro {{ request.id }} - ReparaYa
{% endblock %}

{% block content %}

{% load static %}

<!-- Main Content -->
<main class="flex-grow-1">
    <div class="container-fluid">
        <div class="row">

            {% include "include/tech_sidebar.html" %}
            
            <!-- Form -->
            <div class="col-md-9 py-3">
                <h2 class="mb-4">Solicitud Nro: {{ request.id }}</h2>
                <form action="{% url 'tech_requests' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="image" class="form-label">Imagen</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Título</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{ request.title }}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="device_type" class="form-label">Tipo Electrónico</label>
                        <select class="form-select" id="device_type" name="device_type" required>
                            <option value="{{ request.id_specialty.id }}">{{ request.id_specialty.name }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="problem_description" class="form-label">Descripción de tu Problema detallado</label>
                        <textarea class="form-control" id="problem_description" name="problem_description" rows="4" disabled>{{ request.customer_comment }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-custom-orange">Continuar</button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock content %}