{% extends "base.html" %}
{% load static %}

{% block title %}
Inicio - ReparaYa
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
<div class="container mt-4">
<div class="jumbotron">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p class="lead">
        Repara-Ya es una plataforma que conecta a usuarios que necesitan reparar sus dispositivos electrónicos con técnicos especializados. El enfoque principal está en dispositivos móviles, como smartphones y tablets, y otros aparatos electrónicos comunes, como laptops.    </p>
    <hr class="my-4">
    <p>
        Si deseas acceder a las funcionalidades del sistema, por favor inicia sesión.
    </p>
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Iniciar sesión</a>
    <hr class="my-4">
    <p>
        ¿No tienes una cuenta? Registrate <a href="{% url 'register' %}">aquí</a>
    </p>
</div>
</div>
{% else %}

<div class="container mt-4">
    <h1>Acceso Directo: </h1>
    <br>
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'requests' %}" class="card-link">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="{% static 'images/home/smartphone_cracked.webp' %}" alt="smartphone craked" class="mb-2" width="225">
                        <h5 class="card-title text-center">Mis solicitudes</h5>
                        <p class="card-text text-center">Crea tus solicitudes de tus dispositivos electrónicos dañados.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="" class="card-link">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="{% static 'images/home/technician.webp' %}" alt="supplier image" class="mb-2" width="225">
                        <h5 class="card-title text-center">Técnicos</h5>
                        <p class="card-text text-center">Encuentra los técnicos que están interesados en reparar tus dispositivos.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="" class="card-link">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="{% static 'images/home/support.webp' %}" alt="inventory image" class="mb-2" width="197">
                        <h5 class="card-title text-center"><br>Soporte</h5>
                        <p class="card-text text-center">Contactanos en caso de que suceda algún inconveniente.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br><br>

{% endif %}

{% endblock content %}